* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: rgba(0, 0, 0, 0.5);
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo .logoImg {
  max-width: 100%;
  height: auto;
}

header .navbar-light .navbar-nav .nav-link {
  margin: 0 3vw;
  color: white;
}

header .navbar-light .navbar-nav .nav-link:hover {
  color: red;
}

header .navbar-light .navbar-nav .nav-link.active {
  color: red;
}

header .navbar-light .navbar-toggler {
  border-color: white;
}

header .navbar-light .navbar-toggler-icon {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

header .navCentrado {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Major Mono Display', monospace;
}

body {
  background-image: url("../img/fondo.jpg");
  background-repeat: repeat;
  font-family: 'Nova Mono', monospace;
}

body h1 {
  text-align: center;
  color: white;
}

body .table {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
}

body .titulos {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'Major Mono Display', monospace;
  text-align: center;
}

body .grid {
  margin: 5vh 5vw;
  display: -ms-grid;
  display: grid;
  text-align: center;
      grid-template-areas: "uno uno dos dos tres tres" "uno uno dos dos tres tres" "uno uno dos dos tres tres";
  gap: .5vw;
}

body .grid .uno {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: uno;
  height: 53vh;
}

body .grid .dos {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: dos;
  height: 53vh;
}

body .grid .tres {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: tres;
  height: 53vh;
}

body .videos {
  margin: 3vh 0;
}

body .videos section {
  display: inline;
}

body .videos section iframe {
  width: 43vw;
  height: 50vh;
}

body .contacto {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .contacto div {
  margin: 25px;
}

body .contacto .container {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: auto;
  padding: 2rem;
}

body .contacto .container .btn-primary {
  background-color: red;
  border-color: red;
}

body .historiaBanda {
  background-color: black;
  background-image: url("../img/laBanda.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20rem;
}

body .historiaBanda .integrantes {
  list-style-type: none;
  border-radius: 15px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 1.5rem;
  letter-spacing: 0.1vw;
  line-height: 4vh;
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

body .historiaBanda .integrantes ul {
  list-style-type: none;
}

body .indexMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

body .indexMain .carousel {
  margin-left: 2vw;
}

body .indexMain .parrafo {
  margin: 0 1vw;
  width: 50vw;
  border-radius: 15px;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: justify;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.footer {
  z-index: 1;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  font-size: 1.2rem;
  position: fixed;
  bottom: 0;
  display: flexbox;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.footer .text {
  margin: .5vh 0 .5vh .5vw;
  float: left;
}

.footer .redes {
  margin: .5vh .5vw .5vh 0;
  float: right;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}

@media (max-width: 993px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .indexMain {
    display: inline-block;
  }
  body .indexMain .carousel {
    margin: 1vh 0;
  }
  body .indexMain .parrafo {
    margin: 1vh 1vw;
    width: auto;
    font-size: 1rem;
    line-height: 1.2rem;
  }
  body .videos section {
    margin: 1vh 1vw;
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  body .videos section iframe {
    width: 100vw;
    height: 30vh;
  }
  body .grid {
    display: inline;
  }
  body .historiaBanda {
    background-size: contain;
    padding-top: 20rem;
  }
  body .historiaBanda .integrantes {
    font-size: 1rem;
  }
  body .footer {
    position: static;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .footer .text {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */