@import "variables";

.footer {
    z-index: 1;
    height: min-content;
    font-size: 1.2rem;
    position: fixed;
    bottom: 0;
    display: flexbox;
    width: 100%;
    background-color: $negro2;
    color: $blanco;
    .text {
        margin: .5vh 0 .5vh .5vw;
        float: left;
    }
    .redes {
        margin: .5vh .5vw .5vh 0;
        float: right;
        filter: grayscale(50%);
    }
}