@import "variables";

header {
    background-color: $negro;
    .logo {
        display: flex;
        justify-content: center;
        .logoImg {
            max-width: 100%;
            height: auto;
        }
    }
    .navbar-light {
        .navbar-nav {
            .nav-link {
                margin: 0 3vw;
                color: $blanco;
                &:hover {
                    color: $rojo;
                }
            }
            .nav-link.active {
                color: $rojo;
            }
        }
        .navbar-toggler {
            border-color: $blanco;
        }
        .navbar-toggler-icon {
            filter: invert(100%);
        }
    }
    .navCentrado {
        width: 100%;
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 1rem;
        font-family: 'Major Mono Display', monospace;
    }
}